@charset "UTF-8";
/* line 1, ../sass/screen.scss */
f
* {
  margin: 0;
  text-align: justify;
}

/* line 30, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 34, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}

/* line 38, ../sass/screen.scss */
h1 {
  font-size: 25px;
  font-weight: 900;
  border-bottom: 1px solid;
  margin-bottom: 15px;
  margin-top: 10px;
}

/* line 46, ../sass/screen.scss */
h2 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 15px;
}

/* line 52, ../sass/screen.scss */
h3 {
  font-size: 18px;
  font-weight: 600;
}

/* line 57, ../sass/screen.scss */
form {
  text-align: center;
}

/* line 61, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 65, ../sass/screen.scss */
.col-xs-2, .col-xs-3 {
  font-family: sans-serif;
}

/* line 68, ../sass/screen.scss */
.container-full {
  margin: 0 auto;
  width: 100%;
}

/* line 72, ../sass/screen.scss */
.desousligne:hover {
  text-decoration: none;
}

/* line 77, ../sass/screen.scss */
.color_blue {
  color: #3ea7e8;
}

/* line 81, ../sass/screen.scss */
.relative {
  position: relative;
}

/* line 85, ../sass/screen.scss */
.stronger {
  color: #44749D;
  font-weight: bold;
}

/* line 90, ../sass/screen.scss */
.stronger1 {
  font-weight: bold;
}

/* line 94, ../sass/screen.scss */
.stronger_mail {
  color: black;
  font-weight: bold;
}

/* line 99, ../sass/screen.scss */
.alinea_droit {
  margin-left: -10px;
}

/* line 103, ../sass/screen.scss */
.surligne {
  border-bottom: solid 1.5px;
  border-color: #5b8cb2;
}

/* line 108, ../sass/screen.scss */
.yolo {
  vertical-align: middle;
}

/* line 112, ../sass/screen.scss */
.marge {
  margin-left: 100px;
}

/* line 116, ../sass/screen.scss */
.marge_bas {
  margin-bottom: 40px;
}

/* line 120, ../sass/screen.scss */
.hoverPopup {
  width: 440px;
  padding-left: 20px !important;
  display: none;
}

/* line 126, ../sass/screen.scss */
.hoverPopupWrapper {
  cursor: s-resize;
  font-weight: bold;
  color: orange;
}

/* line 133, ../sass/screen.scss */
#tooltip {
  position: absolute;
  z-index: 99;
  background: #fff;
  width: auto;
  padding: 3px;
  border: 1px solid grey;
  border-radius: 6px;
  top: 0;
}
/* line 142, ../sass/screen.scss */
#tooltip:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  left: 22%;
  bottom: -44%;
}

/* --- Navigateur --- */
/* line 156, ../sass/screen.scss */
.navbar-inverse {
  border-radius: 0px !important;
}

/* line 160, ../sass/screen.scss */
.dropdown-menu {
  border-radius: 0px !important;
}

/* line 164, ../sass/screen.scss */
.dropdown-menu {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}

/* line 174, ../sass/screen.scss */
.dropdown-menu .divider {
  background-color: #9d9d9d;
}

/* line 178, ../sass/screen.scss */
.navbar-inverse .navbar-brand {
  font-family: 'Comfortaa';
  font-size: 24px;
  font-weight: bold;
}

/* line 183, ../sass/screen.scss */
.navbar-inverse .navbar-nav > li > a {
  font-family: 'Comfortaa';
  font-size: 16px;
}

/* line 188, ../sass/screen.scss */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
  font-family: 'Comfortaa';
}

/* line 195, ../sass/screen.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: inherit;
  background-image: inherit;
  font-family: 'Comfortaa';
}

/* line 202, ../sass/screen.scss */
.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a:focus {
  font-family: 'Comfortaa';
}

/* line 206, ../sass/screen.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: inherit;
  background-image: inherit;
  font-family: 'Comfortaa';
}

@media (max-width: 849px) {
  /* line 215, ../sass/screen.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    font-family: 'Comfortaa';
  }
}
@media (max-width: 849px) {
  /* line 221, ../sass/screen.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: inherit;
    background-image: inherit;
    font-family: 'Comfortaa';
  }
}
/* DropDown */
/* line 229, ../sass/screen.scss */
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
  font-family: 'Comfortaa';
}

/* line 239, ../sass/screen.scss */
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #9d9d9d;
  background: transparent !important;
}

/* line 244, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 248, ../sass/screen.scss */
span.glyphicon-folder-close, span.glyphicon-folder-open {
  margin-right: 7px;
}

/* line 252, ../sass/screen.scss */
.dropdown-submenu {
  position: relative;
}

/* line 256, ../sass/screen.scss */
.dropdown-submenu > .dropdown-menu {
  top: -5px;
  left: 100%;
  margin-left: -1px;
}

/* line 262, ../sass/screen.scss */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* line 266, ../sass/screen.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-left-color: #fff;
  margin-top: 8px;
  margin-right: -12px;
}

/* line 279, ../sass/screen.scss */
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

/* line 283, ../sass/screen.scss */
.dropdown-submenu.pull-left {
  float: none;
}

/* line 287, ../sass/screen.scss */
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

/* line 291, ../sass/screen.scss */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-image: none;
  background-color: transparent;
}

@media (max-width: 991px) {
  /* line 297, ../sass/screen.scss */
  .navbar-header {
    float: none;
  }

  /* line 300, ../sass/screen.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 303, ../sass/screen.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 307, ../sass/screen.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 310, ../sass/screen.scss */
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  /* line 314, ../sass/screen.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 317, ../sass/screen.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 321, ../sass/screen.scss */
  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  /* line 326, ../sass/screen.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  /* line 329, ../sass/screen.scss */
  .collapsing {
    overflow: hidden !important;
  }
}
/* --- Footer --- */
/* line 335, ../sass/screen.scss */
#rss {
  display: none;
}

/* line 340, ../sass/screen.scss */
#footer {
  position: relative;
  height: 104px;
  padding: 30px 0px 0px 45px;
  margin-top: 25px;
  box-shadow: inset 0 4px 33px -2px gray;
}
/* line 346, ../sass/screen.scss */
#footer [alt="Logo Web"] {
  max-width: 150px;
  margin-top: -20px;
}
@media (max-width: 768px) {
  /* line 346, ../sass/screen.scss */
  #footer [alt="Logo Web"] {
    margin-top: 0;
  }
}

/* line 355, ../sass/screen.scss */
#footer span:nth-of-type(2) {
  margin-left: 20px;
}

/* line 359, ../sass/screen.scss */
#footer img:hover:not(.not) {
  transform: scale(1.1);
}

/* line 362, ../sass/screen.scss */
#footer img {
  transition: transform 0.2s ease-out;
}

@media (max-width: 400px) {
  /* line 367, ../sass/screen.scss */
  #footer {
    width: 100%;
    max-width: 100%;
  }

  /* line 371, ../sass/screen.scss */
  #twitter #quora #linkdin #stumble #rss {
    width: 30px;
    height: auto;
  }
}
/* line 378, ../sass/screen.scss */
.footer, .push {
  height: 104px;
}

@media (max-width: 768px) {
  /* line 384, ../sass/screen.scss */
  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -165px;
  }

  /* line 390, ../sass/screen.scss */
  #footer, .push {
    height: 165px;
  }

  /* line 393, ../sass/screen.scss */
  #footer {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}
/* line 400, ../sass/screen.scss */
#footer a {
  font-weight: 700;
}

/* --- Accueil --- */
/* line 406, ../sass/screen.scss */
.a_jumbotron:hover {
  text-decoration: underline;
  color: #3ea7e8;
}

/*  --- Jumbotron --- */
/* line 413, ../sass/screen.scss */
.jumbotron {
  text-shadow: 0px 2px 2px black;
  color: white;
  background-image: url("/public/images/llc_droit_de_l_informatique.jpg");
}

/* line 420, ../sass/screen.scss */
#entete_jumbotron {
  /* Pas la Bonne Police */
  font-family: 'chukfiveroman';
}

/* --- Présentation --- */
/* line 425, ../sass/screen.scss */
#photo_presentation {
  width: 100%;
  max-width: 295px;
  border: 2px solid black;
  border-radius: 25px;
  border-corner-shape: bevel;
}

@media (max-width: 992px) {
  /* line 434, ../sass/screen.scss */
  #photo_presentation {
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  /* line 440, ../sass/screen.scss */
  #photo_presentation {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* --- Cv --- */
/* line 449, ../sass/screen.scss */
.cv_block {
  max-width: 600px;
}

/* line 453, ../sass/screen.scss */
#button_cv {
  display: block;
  position: absolute;
  top: 75px;
  right: 20px;
  z-index: 2;
}

@media (max-width: 650px) {
  /* line 462, ../sass/screen.scss */
  #button_cv {
    max-width: 80px;
    display: none;
    font-size: 11px;
  }
}
/* line 469, ../sass/screen.scss */
.btn {
  display: block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 491, ../sass/screen.scss */
#cv_2 {
  background-color: white;
  padding: 8px;
  border: 2px solid #44749D;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: 2px;
  max-width: 600px;
  z-index: 1;
}

@media (max-width: 768px) {
  /* line 506, ../sass/screen.scss */
  .btn-responsive {
    font-size: 11px;
    line-height: 1;
    border-radius: 3px;
  }

  /* line 512, ../sass/screen.scss */
  #cv2 {
    max-width: 100%;
  }
}
@media (max-width: 650px) {
  /* line 520, ../sass/screen.scss */
  .btn-responsive {
    padding: 2px 4px;
    font-size: 60%;
    line-height: 1;
    border-radius: 3px;
  }
}
/* --- Contact --- */
/* line 533, ../sass/screen.scss */
form div + div {
  margin-top: 1em;
}

/* line 537, ../sass/screen.scss */
input, textarea {
  /* Afin de s'assurer que tous les champs textuels utilisent la même police
     Par défaut, textarea utilise une police à espacement constant */
  font: 1em sans-serif;
  /* Pour donner la même dimension à tous les champs textuels */
  width: 550px;
  height: 40px;
  /* Pour harmoniser l'apparence des bordures des champs textuels */
  border: 1px solid #999;
  border-radius: 3px;
  /* Pour que la saisie ne commence pas colé */
  padding-left: 7px;
}

/* line 554, ../sass/screen.scss */
textarea {
  padding-top: 7px;
  line-height: 15px;
}

/* line 559, ../sass/screen.scss */
input:focus, textarea:focus {
  /* Afin de rehausser les éléments actifs */
  border-color: #63eaff;
}

/* line 564, ../sass/screen.scss */
textarea {
  /* Pour donner assez d'espace pour entrer du texte */
  height: 18em;
  /* Empeche la fenetre de se modifier */
  resize: none;
}

@media (max-width: 600px) {
  /* line 572, ../sass/screen.scss */
  input, textarea {
    width: 100%;
  }
}
/* line 577, ../sass/screen.scss */
#contact button {
  margin-top: -14px;
  height: 75px;
}

/* --- Démineur --- */
/* line 584, ../sass/screen.scss */
#title_dem {
  padding-left: 40px;
}

/* --- PPE --- */
/* line 590, ../sass/screen.scss */
.btn-log-in {
  margin-left: 40px;
}

/* --- Blog --- */
/* line 594, ../sass/screen.scss */
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 600, ../sass/screen.scss */
.button-log {
  position: fixed;
  right: 0px;
  top: 60px;
  z-index: 9999;
}

/* line 607, ../sass/screen.scss */
.img_blog {
  border-radius: 3px;
  margin-top: 40px;
  max-width: 100%;
  height: auto;
}

/* line 614, ../sass/screen.scss */
.img_blog2 {
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  /* line 622, ../sass/screen.scss */
  .img_blog {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  /* line 628, ../sass/screen.scss */
  .img_blog {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
/* line 636, ../sass/screen.scss */
.titre_blog {
  margin-left: 25px;
  margin-bottom: 20px;
}

/* --- Portofolio --- */
/* line 642, ../sass/screen.scss */
.projetCours, .projetStage {
  cursor: pointer;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  text-align: center;
  border: 2px solid black;
  background: #EFFCF5;
  height: 45px;
  width: 45%;
  white-space: nowrap;
}

@media (max-width: 760px) {
  /* line 656, ../sass/screen.scss */
  .projetCours, .projetStage {
    width: auto;
  }
}
/* line 661, ../sass/screen.scss */
.projets {
  cursor: pointer;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  background: #FFFADA;
  font-style: italic;
}

/* --- Développement Web --- */
/* line 675, ../sass/screen.scss */
.titre_dev {
  margin-left: 25px;
  margin-bottom: 20px;
}

/* Compétences */
/* line 682, ../sass/screen.scss */
.competences .containerSkills {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 25px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border: 2px solid grey;
  max-height: 38px;
  width: 100%;
  overflow: hidden;
  transition: max-height 1s ease, width 1s ease;
}
/* line 694, ../sass/screen.scss */
.competences .containerSkills:hover {
  max-height: 300px;
}
/* line 696, ../sass/screen.scss */
.competences .containerSkills:hover .innerSkill {
  padding-left: 5px;
}
/* line 698, ../sass/screen.scss */
.competences .containerSkills:hover .innerSkill:before {
  visibility: visible;
  opacity: 1;
}
/* line 704, ../sass/screen.scss */
.competences .containerSkills .innerSkill {
  white-space: nowrap;
  font-size: 18px;
  margin: 5px;
  background-color: #fff;
  color: #000;
  width: 0;
  transition: width 1s ease, padding 0.8s linear;
  transition-delay: 1s;
  position: relative;
}
/* line 714, ../sass/screen.scss */
.competences .containerSkills .innerSkill:before {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  transition-delay: 2s;
  content: attr(data-level) "%";
  color: #fff;
  position: absolute;
  right: -45px;
}

/* line 728, ../sass/screen.scss */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}

/* --- Login --- */
/* line 742, ../sass/screen.scss */
.log {
  font: 1em sans-serif;
  width: 250px;
  height: 40px;
  border: 1px solid #999;
  border-radius: 3px;
  padding-left: 7px;
}

/* --- Mention Légale --- */
/* line 754, ../sass/screen.scss */
.h4_ml {
  margin-left: 30px;
}

/* --- RSS --- */
/* line 759, ../sass/screen.scss */
#divRss {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  padding-top: 10px;
  padding-right: 40px;
}

/* line 767, ../sass/screen.scss */
.feedEkList {
  list-style: none;
}

/* line 771, ../sass/screen.scss */
.feedEkList li {
  margin-bottom: 10px;
}

/* line 775, ../sass/screen.scss */
.feedEkList li .itemTitle {
  font-weight: 700;
}

/* --- Adaptation Screen --- */
@media (max-width: 991px) {
  /* line 784, ../sass/screen.scss */
  .cv_block {
    width: 600px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  /* line 792, ../sass/screen.scss */
  .jumbotron_petit > h1 {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    color: #FCFCFC;
    margin-left: 40px;
    font-size: 40px;
    text-shadow: 0px 2px 2px black;
  }

  /* line 802, ../sass/screen.scss */
  #p_jumbotron, #a_jumbotron {
    text-shadow: 0px 2px 2px black;
  }
}
